[tool.poetry]
name = "phospho"
version = "0.0.2"
description = "Deploy, Test, Scale LLM agents in one click"
authors = ["Pierre-Louis Biojout <dev@phospho.app>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"


[tool.poetry.group.test.dependencies]
pytest = "^7.4.0"
requests-mock = "^1.11.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
exclude = ["tests/", ".github/", ".pytest_cache/", "docs/"]