@keyframes hitAnimation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.pickaxe-button:hover .pickaxe-animation {
    animation: hitAnimation 0.5s infinite;
}